## <center> Amphibians Dataset </center>
Click <a href="https://archive.ics.uci.edu/ml/datasets/Amphibians#"> here </a> for the data source.
<br>The goal is to predict the presence of amphibians species near the water reservoirs based on features obtained from GIS systems and satellite images. <br>
This reports were mostly used to gather information on the size of the amphibian population in each of the 189 occurrence sites. <br>

In [51]:
#Load required packages

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
from IPython.display import HTML

In [45]:
#Visualization settings
sns.set_style(style='white')
sns.set(rc={
    'figure.figsize': (12,7),
    'axes.facecolor': 'white',
    'axes.grid': True,
    'grid.color': '.9',
    'axes.linewidth': 1.0,
    'grid.linestyle': u'-'},
    font_scale=1.5)
custom_colors=["#3498db", "#95a5a6","#34495e", "#2ecc71", "#e74c3c"]
sns.set_palette(custom_colors)
background_color='#fbfbfb'

In [28]:
#Removing not important features as per the data sources

df_input = pd.read_csv('amphibians.csv',delimiter=";",header=None)
df_input.drop(0,axis=0,inplace=True)
df_input.columns = df_input.loc[1]
df_input.drop(1,axis=0,inplace=True)

In [66]:
print (f'Shape of dataset : {df_input.shape}\n')

display(HTML("Feature names:"))
col_tags = "<ol>" + "" . join([f"<li>{col}</li>" for col in df_input.columns]) + "</ol>"
display (HTML(col_tags))

print ('\nSample dataset :\n')
df_input.head()

Shape of dataset : (189, 21)

Sample dataset :

1,SR,NR,TR,VR,SUR1,SUR2,SUR3,UR,FR,OR,...,BR,MR,CR,Green frogs,Brown frogs,Common toad,Fire-bellied toad,Tree frog,Common newt,Great crested newt
2,600,1,1,4,6,2,10,0,0,50,...,0,0,1,0,0,0,0,0,0,0
3,700,1,5,1,10,6,10,3,1,75,...,1,0,1,0,1,1,0,0,1,0
4,200,1,5,1,10,6,10,3,4,75,...,1,0,1,0,1,1,0,0,1,0
5,300,1,5,0,6,10,2,3,4,25,...,0,0,1,0,0,1,0,0,0,0
6,600,2,1,4,10,2,6,0,0,99,...,5,0,1,0,1,1,1,0,1,1

'SRNRTRVRSUR1SUR2SUR3URFRORRRBRMRCRGreen frogsBrown frogsCommon toadFire-bellied toadTree frogCommon newtGreat crested newt'